.Navbar {
    /* background-color:white; */
    /* background-image: url("assets/bgpic.jpg"); */
    text-align: right;
    padding: 1%;
    font-size: larger;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;  
    
}
.content {
    background-image: url("assets/bk.jpg.crdownload");
    /* background:wheat; */
    background-repeat: repeat;
    backface-visibility: visible;
    background-size: 100%;
    

}
.bio {
    padding: 1%;  
}
.name {
  float: left;
  text-align: right;
    font-size: larger;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: blue;
}
.Resume {
    font-size: inherit;
    font-weight: bold;
    text-decoration-color: red;
}
.recentProjects {
    padding: 1%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: blue;
}
.image  {
    height: 250px;
    width: 250px;
}
.info {
    padding: 1%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: larger;
    color: white;
}

#profileimg {
    
    max-height: 70%;
    border-radius: 70%;
}

.project {
    text-align: center;
    text-decoration: white;
    text-decoration-thickness: 1em;
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
    color:orange;
    font-weight: bold;
}